@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", serif;
}

:root {
    --black-color: #1e1e1e;
    --black1-color: #000000;
    --font-color: #838080;
    --golden-color: #fcae1e;
    --white-color: #FFFFFF;
    --pink-color: #fc6a03;

    --font-family: "Dancing Script", serif;
}

html {
    font-size: 60.6%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background: var(--black1-color);
    color: var(--font-color);
    display: flex;
    max-width: 1440px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*header*/
#home {
    height: 68vh;
    width: 100%;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .png {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(photo/s05.avif);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.png .content {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.png .content h1 {
    font: 400;
    font-size: 10rem;
    text-align: center;
    padding: 0.8rem;
    font-family: var(--font-family);
    color: var(--white-color);
    letter-spacing: 0.3rem;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem 4% 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.sticky {
    background-color: var(--black-color);
}

header ul #ola {
    background-color: var(--golden-color);
}

.logo img {
    width: 12vw;
    height: auto;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul li {
    display: inline;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    padding: 5.6rem 2rem 4.3rem 2rem;
}

#nav ul li a {
    color: var(--white-color);
    font-size: 2.6rem; 
    font-weight: 600;
}

header.sticky #nav ul li a:hover {
    color: var(--pink-color);
}

.menu-icon {
    cursor: pointer;
}

.menu-icon i {
    color: var(--pink-color);
    font-size: 3rem;
}

/* dropdown menu  */

.dropdown-menu {
    display: none;
    position: fixed;
    right: -10rem;
    top: 90px;
    height: 240px;
    width: 0px;
    background: rgba(255, 255, 255, 0.1);
    background-color: var(--pink-color);
    z-index: 20;
    padding: 2rem;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.active {
    width: 300px;
}

.dropdown-menu li {
    padding: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8rem;
}

.dropdown-menu li a {
    color: var(--text-color);
    font-size: 3rem;
}

.dropdown-menu li a:hover {
    color: var(--back-color);
    border-bottom: 2px solid var(--back-color);
}

/* about us  */

#about {
    padding: 6rem 2rem;
}

.info {
    font-size: 3rem;
    text-align: justify;
}

/* footer  */

#footer {
    background-color: var(--black-color);
}

#footer .footer-slide {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 180px;
    gap: 8.2rem;
    padding: 6rem;
    overflow: hidden;
}

#footer .footer-slide #list {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .footer-logo img {
    width: 28rem;
}

#footer .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .list li {
    display: flex;
    padding: 0.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#footer .list li a {
    color: var(--white-color);
    font-size: 1.6rem;
    text-align: center;
}

#footer .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .address p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.6rem;
    color: var(--white-color);
}

#footer .footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .footer-icon .i {
    display: flex;
    flex-direction: row;
}

#footer .footer-icon i {
    font-size: 4rem;
    padding: 0.6rem 1.8rem;
    color: var(--golden-color);
}

#footer .list h1,
.address h1,
.footer-icon h1 {
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--white-color);
}

#footer #copy {
    color: var(--white-color);
    font-size: 3rem;
    text-align: center;
    background-color: var(--pink-color);
}


/* meadia query */

@media (max-width: 992px) {
    #nav ul #ola1 {
        display: none;
    }

    #nav ul #ola {
        display: none;
    }

    .dropdown-menu {
        display: block;
    }

    .logo img {
        width: 18vw;
    }

    .menu-icon {
        cursor: pointer;
        color: var(--pink-color);
    }

    .dropdown-menu {
        display: block;
    }

    .dropdown-menu.active {
        width: 40%;
    }

    .dropdown-menu li {
        padding: 1.4rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 35%;
        background-color: #fc6a03;
    }

    .dropdown-menu li a {
        font-size: 2rem;
        color: var(--white-color);
    }
}

@media (max-width: 480px) {
    .dropdown-menu.active {
        width: 100%;
    }
    .logo img {
        width: 28vw;
    }

    #footer .footer-slide {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: 110px;
        gap: 1rem;
        padding: 3rem;
    }
    #footer .footer-icon i {
        font-size: 4rem;
    }

    #footer .list h1,
    .address h1,
    .footer-icon h1 {
        font-size: 1.6rem;
    }

    #footer .footer-slide p {
        font-size: 1.2rem;
    }

    #footer .list li a {
        font-size: 1.2rem;
    }

    #footer #copy {
        font-size: 1.5rem;
    }
}

@media (max-width:430px) {
    
    .dropdown-menu li {
        padding: 0.6rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 30%;
    }

    .png .content h1{
        font-size: 8rem;
    }

    #about {
        padding: 6rem 2rem;
    }
    
    .info {
        font-size: 2rem;
        text-align: justify;
    }
    #footer .footer-icon i {
        font-size: 4rem;
    }

    #footer .list h1,
    .address h1,
    .footer-icon h1 {
        font-size: 1.6rem;
    }

    #footer .footer-slide p {
        font-size: 1.2rem;
    }

    #footer .list li a {
        font-size: 1.2rem;
    }

    #footer #copy {
        font-size: 1.5rem;
    }
}